.header{
    font-family: 'Slabo 27px', serif;
    background-color: #102847 !important;
    color: #00504c;
    padding: 2rem 0;    
}


/*parte del main*/    
.main-base{
    padding-top: 8%;    
    background-color: #e2e2e2;
}
.container .row {
    font-family: 'Slabo 27px', serif;
    
}
.container-con{
    padding-top: 60px;
    width: 80%;
    margin: auto;
}
  

  
