
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.header{
    background-color: #102847 ;
    color: #17a69e;
    padding: 2rem 0;
    position: fixed ;
    left: 0;
    top: 0;
    right: 0%;
}
.header a{
    color: #17a69e;
    text-decoration: none;
    
}
.header a:hover{
    color: aliceblue;
    background-color: 102847;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    letter-spacing: 10px;
    font-size: 1em;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0rem 1rem;
}
.main{
    padding-top: 5rem;
    font-family: 'Slabo 27px', serif;
}
.main1{
    padding-top: 10rem;
    font-family: 'Slabo 27px', serif;
}
.godo{
    background-color: #17a69e;    
}
.body1{
    padding: 10%;
}
.navigation{
    font-family: 'Lora', serif;
}
/* parte de las noticias*/
.news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10%;
    margin: 1% 0;
}
.news img{
    width: 100%;
    height: 180px;
}
.news a{
    padding: 10% 0;
    color: black;
    display: inline-block;
    font-weight: bold;
}

/* parte de las noticias*/
.anuncio{
    width: 80%;
    margin: auto;
    height: 500px;
    background: url(../imagenes/personas.jpg) no-repeat center center/cover;
}
.content{
    width: 65%;   
    padding: 5% 0 0 2%;
    color: #ffffe8;
}




